@font-face {
  font-family: "Norse";
  src: url("../font/Norse-Bold.otf");
}

body {
  display: flex;
  gap: 50px;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.left-side {
  position: relative;
}

.background-image {
  width: max(300px, 30vw);
  height: 100vh;
}

.logo {
  position: absolute;
  top: 10%;
  left: 0;

  color: #fff;

  width: 100%;
  background-color: rgba(0, 0, 0, 45%);
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  font-family: "Norse", sans-serif;
  font-size: 100px;

  position: relative;
  top: 10px;
}

h1 img {
  height: 100px;
  width: auto;
}

.copyright {
  position: absolute;
  bottom: 0;
  right: calc(50% - 84px);

  color: rgba(255, 255, 255, 0.82);
  font-size: 14px;
}

.copyright a {
  color: inherit;
}
